# site properties and page defaults
title: The Doucet Lab — Structural Biology & Protein Engineering
subtitle: Centre Armand-Frappier Santé Biotechnologie (AFSB) - INRS - Université du Québec, Montréal, Canada
description: We explore how proteins work at the molecular level and use this knowledge to design new biomolecules with therapeutic potential. Our research combines structural biology, NMR spectroscopy, nanobody engineering, and AI-powered protein design to reveal mechanisms of disease and create innovative solutions in biotechnology.
header: images/background.jpg
footer: images/background.jpg
proofer: false

url: "https://nickdoucet.github.io"
baseurl: "/ndoucet.github.io"

# site social media and other links
links:
  email: nicolas.doucet@inrs.ca
  orcid: 0000-0002-1952-9380
  google-scholar: lLhyrEoAAAAJ
  github: ndoucet.github.io
  twitter: 
  youtube: 

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
